.txt-infos {
    color: #0004ff;
    font-size: 10vh;
}

.btn-competences{
    border-radius: 30px;
    background-color: #cccc00;
    height: 10vh;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    margin-right: 2vw; 
}


.css{
    margin-left: -1vw;

}

.txt-editeurs{
    color: yellow;
    font-size: 7vh;
}

.txt-langu{
    color: yellow;
    font-size: 5vh;
}

.space{
    height: 50px
}

.competence-txt{
    font-style: 10vh;
}

.ico{
    max-height: 70vh ;
    max-width: 10vw;
    display: block;
}

body{
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 66, 22));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.profile-pic {

}
