.txt-infos{
    color: #0004ff;
    font-size: 10vh;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.css{
    margin-left: -1vw;

}

.txt-editeurs{
    color: yellow;
    font-size: 7vh;
}

.txt-langu{
    color: yellow;
    font-size: 5vh;
}

.space{
    height: 50px
}

.competence-txt{
    font-style: 10vh;
}

.ico{
    max-height: 200px ;
    max-width: 100px;
    display: block;
}

body{
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 66, 22));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
  display: flex;
  flex-direction: row-reverse; /* ça inverse l'image et les boutons */
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.profile-pic {
  width: 150px;
  height: auto;
  border-radius: 10px;
}
